.vscode/settings.json
.idea/sonarlint/
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
.project
.classpath
*.hprof
build/classes/java/main/kr/ac/jbnu/se/tetris/AchievementMenu.class
build/classes/java/main/kr/ac/jbnu/se/tetris/AchievementMenu$1.class
build/classes/java/main/kr/ac/jbnu/se/tetris/AchievementMenu$AchievementItem.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Bgm.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Board.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Board$TAdapter.class
build/classes/java/main/kr/ac/jbnu/se/tetris/GhostMode.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Item.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Login.class
build/classes/java/main/kr/ac/jbnu/se/tetris/MainMenu.class
build/classes/java/main/kr/ac/jbnu/se/tetris/MainMenu$1.class
build/classes/java/main/kr/ac/jbnu/se/tetris/MainMenu$2.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Player.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Ranking.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Ranking$RankingEntry.class
build/classes/java/main/kr/ac/jbnu/se/tetris/SettingMenu.class
build/classes/java/main/kr/ac/jbnu/se/tetris/SettingMenu$1.class
build/classes/java/main/kr/ac/jbnu/se/tetris/SettingMenu$2.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Shape.class
build/classes/java/main/kr/ac/jbnu/se/tetris/SprintMode.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Tetris.class
build/classes/java/main/kr/ac/jbnu/se/tetris/Tetrominoes.class
build/classes/java/main/kr/ac/jbnu/se/tetris/TimeAttackMode.class
build/resources/main/backGround.jpg
build/resources/main/bgm.wav
build/resources/main/itemIcon.png
build/resources/main/LineShape.png
build/resources/main/LShape.png
build/resources/main/MirroredLShape.png
build/resources/main/SquareShape.png
build/resources/main/SShape.png
build/resources/main/TShape.png
build/resources/main/ZShape.png


# Created by https://www.toptal.com/developers/gitignore/api/gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=gradle

# vscode
.vscode
bin
.idea
out
build.gradle
.gitignore
gradlew.bat
gradlew
settings.gradle
Tetris2.iml
gradle